
body{
   /* font-family: 'Cardo', serif; */
   background-color: 	#F5F5F5;
   color: #F7882F;
   font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lato', sans-serif; */
}
h1, h2{
    color: #F7882F;
    font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     font-weight: 300;
     font-size: 400%;
}
h2{
  color: white;
  font-size: 200%;
}


.buttons, #key{
  background-color: #F7882F;
  color: #F5F5F5;
  padding: 20px;
  width: 100px;
  margin: 0 auto;
}

.buttons:hover{
  background-color: #f7c331;
  color: #F7882F;
}

#buttonContainer{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

#next, #skip23, #reset{
  font-size: 10pt;
  padding: 10px;
  width: 100px;
  position: relative;
}

#reset{
  float: right;
  bottom: 20px;
}

#next{
  float: left;

}
#skip23{
  float: middle;
}
#key{
  width: 40%;
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 40px;
}

#alive, #dead{
  padding: 10px;
  width: 30px;
  height: 30px;
}
#alive{
  background-color: black;
}
#dead{
  background-color: white;
}
#first{
  float: left;
  position: relative;
  left: 30%;

}
#second{
  float: right;
  position: relative;
  right: 30%;
}

#container{
  background-color: #6B7A8F;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 290px;
}
#header{
  text-align: center;
  padding: 50px;
}

#genNum{
    background-color: #6B7A8F;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 15%;
    padding: 10px;
    font-size: 10pt;
}

canvas{
  background-color: black;
  border: black 1px solid;
}
#cellCount{
    background-color: #6B7A8F;
    padding: 10px;
    width: 15%;
    font-size: 10pt;
    position: relative;
    top: 50px;
    color: white;
}
.cells{
  font-size: 14pt;
}
.hidden{
  display: none;
}
